/* © 2020 Asher Seiling */

:root{
    --margins-pi-out: 450pt;
}

*{
    margin: 0;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav_bar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav_text{
    margin-left: 20pt;
}

.output_box{
    background-color: rgba(116, 116, 116, 0.418);
    margin-left: var(--margins-pi-out);
    margin-right: var(--margins-pi-out);
    border-radius: 3pt;
}

.test_output{
    background-color: rgba(116, 116, 116, 0.418);
    margin-left: var(--margins-pi-out);
    margin-right: var(--margins-pi-out);
    border-radius: 3pt;
}